<p style="color: green"><%= notice %></p>

<% if @category.present? %>
  <h1><%= @category.name %> Payments</h1>
  <% @category.payments.each do |payment| %>
    <div>
      <span><%= payment.amount %></span>
      <span><%= payment.description %></span>
      <span><%= payment.date %></span>
    </div>
  <% end %>

  <%= link_to "New payment", new_payment_path(category_id: @category.id) %>
<% else %>
  <p>Category not found.</p>
<% end %>
